* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;

}

a {

    display: inline-block;
    text-decoration: none;
}

.header-top {
    height: 300px;
    width: 100%;
    background: linear-gradient(180deg, #000, transparent);
    transition: 1s;
    display: flex;
    justify-content: space-around;
    z-index: 900;
}

.header-top:hover {
    height: 400px;
}

.mainBLK {
    font-size: 20px;
    line-height: 38px;
    position: absolute;
    width: 748px;
    height: 13px;
    right: 216px;
    top: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f7f7f7;
}

.mainBLK a {
    color: #f7f7f7;
    transition: all 0.2s;
    text-decoration: none;
}

.mainBLK a:hover {
    color: #FDB220;
}

.logo {
    height: 147px;
    width: 147px;
    position: absolute;
    left: 52px;
    top: 0px;
    background: url(img/VP\ COPPERS\ LOGO\ white.png);
}

.search a::before {
    content: "\e904";
    font-family: 'icomoon';
    font-size: 43px;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 100px;
    top: 46px;
    color: #FDB220;
}

.mainimage img {
    position: absolute;
    width: 100%;
    max-height: 1026px;
    left: 0px;
    top: 0px;
    z-index: -1;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.39);
    transition: 0.8s;
}

.mainimage img:hover {
    box-shadow: 0px 0px 100px 35px rgba(0, 0, 0, 0.39);
}

.infa_block {
    width: 100%;
    height: 2654px;
    position: absolute;
    top: 1026px;
    background-color: #f7f7f7;
    z-index: -2000;
}